
<!DOCTYPE html>
<html lang="en">
<header>
    <a routerLink="/" class="header-btn">Quit</a>
</header>
<body>
  <div class="game-screen"> 
    <div id="user-one">
      <div class="player-gamer-tag"><p>User 1</p></div>
      <div class="user-hand"> 
        <img src="/Users/guled/Documents/GitHub/ics499_uno_frontend/uno_frontend/src/app/uno-page/cards-img/Green 1.png" alt="back">
      </div>
    </div>
    <div id="user-two">
      <div class="user-hand"> 
        <img src="/Users/guled/Documents/GitHub/ics499_uno_frontend/uno_frontend/src/app/uno-page/cards-img/Green 1.png" alt="back">
      </div>
      <div class="player-gamer-tag"><p>User 2</p></div>
    </div>
  </div>
</body>
</html>

