<!DOCTYPE html>
<html lang="en">
<header>
    <a routerLink="/uno-page" class="header-btn">Start New Game</a>
    <a routerLink="/stats-page" class="header-btn">My Stats</a>
</header>
<body>
    <div class="title"><h1>Welcome to UNO!</h1></div>
    <div class="background-img">
        
    </div>
    <div class="start-game-modal" id="player-modal">
      <div id="player-title"><p>Number of Players</p></div>
      <button class="player-num-btn" type="button" onclick="showPlayerOne()">1</button>
      <button class="player-num-btn" type="button">2</button>
    </div>
    <div class="start-game-modal">
      <form>
        <div class="text_field">
          <input id="user_field" type="text" name="gamerTag" required>
          <span></span>
          <label>1) Gamer Tag: </label>
        </div>
        <div class="text_field">
          <input id="user_field" type="text" name="gamerTag" required>
          <span></span>
          <label>2) Gamer Tag: </label>
        </div>
        <input id="submit_btn" type="submit" name="submit">
      </form>
    </div>
    <script>
      function hideStartGameModal(){
        document.getElementById("player-modal").style.display = "none";
      }
      function showPlayerOne(){
        document.getElementById("player-one").style.display = "block";
      }
    </script>
</body>
</html>