<!doctype html>
`
<html lang="en">
  <head >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Website</title> 
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#">Settings</a></li>
          <li><a routerLink="/stats-page" >Go to Stats</a></li>
          <li *ngIf="!username"><a routerLink="/login-page" >Login</a></li>
      <li *ngIf="username"><span>Welcome, {{ username }}!</span></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h1>Welcome to UnoMania</h1>
        <p>Play the best  Uno game on the web!</p>
        <a routerLink="/uno-page" class="btn">Get started</a>
      </section>
      <section class="games">
        <h2>Popular Games</h2>
        <div class="game-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UNO_Logo.svg/2560px-UNO_Logo.svg.png" width="10%" 
     height="10%"alt="Game 1" />
          <h3>Uno</h3>
          <p>Play Uno now and have fun!</p>
          <a routerLink="/uno-page"  class="btn">Play Uno</a>
        </div>
      </section>
      <section class="about">
        <h2>About UnoMania</h2>
        <p>
          UnoMania is the best place to play uno. With a wide variety
          of features to choose from, you'll never get bored. Our games are free to
          play and don't require any downloads.
        </p>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2023 UnoMania. All rights reserved.</p>
    </footer>
  </body>
</html>




