/* You can add global styles to this file, and also import other style files */
/* Link to external stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{ 
  padding: 1rem 0 1rem 0;
  background-color: pink;
}

.header-btn{
  display: inline-block;
  position: relative;
  margin-left: 1.2rem;
  padding: 10px 20px;
  color: white;
  background-color: darkred;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.header-btn:hover{
  background-color: #c41687;
  transition: 0.1s;
}

body{
  background-color: darkred;
}

.title{
  padding-top: 2.5rem;
  display: block;
  color: black;
  font-size: 32px;
  text-align: center;
}

.background-img{
  background-image: url(/guled/Downloads/background-image.png);
  height: 756px;
  width: 1680px;
}